<div class="list-group mt-2">
    <div *ngFor="let book of books; let i = index" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <span>
                <h5 class="d-inline">
                    {{ (i+1) }} |
                    <a type="button" [routerLink]="['/book', book.id]" routerLinkActive="router-link-active"
                        class="book-title-link">
                        {{ book.title }}
                    </a>
                </h5>
                <h6 class="d-inline">| {{ book.author }}</h6>
            </span>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <div class="mt-3">
                <p> <strong> Genre: </strong>
                    <span *ngFor="let genre of book.genres">
                        {{genre }}
                    </span>
                </p>
                <p>
                    <strong> Description:</strong>
                    <span *ngIf="!book.showDescription">
                        {{ book.description | slice : 0 : 100 }}
                        <span *ngIf="book?.description?.length > 99">
                            ...
                        </span>
                        &nbsp;&nbsp;
                        <a type="button" class="link" *ngIf="book?.description?.length > 99"
                            (click)="onToggleShowDescription.emit(book)">
                            read more
                        </a>
                    </span>
                    <span *ngIf="book.showDescription">
                        {{book.description}}
                        <a type="button" class="link" (click)="onToggleShowDescription.emit(book)">
                            collapse
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>