<ng-container *ngIf="bookCopy.id">
    <ng-template [ngTemplateOutlet]="editMode ? onEditMode : bookDetailsPage"></ng-template>
</ng-container>


<ng-template #bookDetailsPage>
    <ng-template [ngTemplateOutlet]="backToHome"></ng-template>
    <div class="card w-auto">
        <div class="card-header d-flex dlex-row align-items-baseline justify-content-between">
            <div class="d-flex flex-column">
                <div>
                    <h5 class="card-title">{{ bookCopy.title }}</h5>
                </div>
                <div class="d-flex flex-column">
                    <h6>by {{ bookCopy.author }} </h6>
                    <div>
                        <span *ngFor="let genre of bookCopy.genres; let i = index">
                            {{ genre }} {{ i === bookCopy.genres.length - 1 ? null : ' | '}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-outline-warning no-box-shadow"
                        (click)="editMode = toggleEditMode(editMode) || stayOnEditMode">
                        Edit
                    </button>
                    <button class="btn btn-outline-danger no-box-shadow" (click)="onDeleteBook.emit(bookCopy.id)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body d-flex flex-row align-items-center">
            <p class="card-text">
                {{ bookCopy.description }}
            </p>
        </div>
    </div>
</ng-template>



<ng-template #onEditMode>
    <div class="card w-auto">
        <div class="card-header d-flex dlex-row align-items-baseline justify-content-between">
            <div class="d-flex flex-column">
                <div>
                    <input class="form-control mb-2" type="text" name="bookTitle" #bookTitle="ngModel"
                        [(ngModel)]="bookCopy.title" required />

                    <app-form-validation-error *ngIf="bookTitle.errors && (bookTitle.touched || bookTitle.dirty)"
                        [inputName]="'Title'" [message]="'is required'">
                    </app-form-validation-error>

                </div>

                <div class="d-flex flex-row align-items-baseline">
                    <div>
                        <input class="form-control mb-2" type="text" name="bookAuthor" #bookAuthor="ngModel"
                            [(ngModel)]="bookCopy.author" required />
                    </div>
                    <div>
                        <app-form-validation-error
                            *ngIf="bookAuthor.invalid && (bookAuthor.touched || bookAuthor.dirty)"
                            [inputName]="'Author'" [message]="'is required'" [inline]="true">
                        </app-form-validation-error>
                    </div>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <div>
                        <app-genre-select [genreList]="genresList" [selectedGenres]="bookCopy.genres"
                            (onAddGenre)="bookCopy = handleAddGenre($event, bookCopy)"
                            (onRemoveGenre)="bookCopy = handleRemoveGenre($event, bookCopy)">
                        </app-genre-select>
                    </div>
                </div>
            </div>

            <ng-template [ngTemplateOutlet]="btnToolBar"></ng-template>

        </div>
        <div class="card-body">
            <div>
                <textarea class="form-control book-description" name="bookDescription"
                    [(ngModel)]="bookCopy.description" #bookDescription="ngModel" cols="80" rows="15" required>
                </textarea>
            </div>
            <div class="mt-2">
                <app-form-validation-error
                    *ngIf="bookDescription.invalid && (bookDescription.touched || bookDescription.dirty)"
                    [inputName]="'Description'" [message]="'is required'" [inline]="false">
                </app-form-validation-error>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #btnToolBar>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-outline-warning no-box-shadow"
                (click)="onCancelEdit.emit([bookOriginal, bookCopy]); editMode = toggleEditMode(editMode) || stayOnEditMode">
                Cancel
            </button>
            <button class="btn btn-outline-danger no-box-shadow" (click)="onDeleteBook.emit(bookCopy.id)">
                Delete
            </button>
            <button class="btn btn-outline-success" (click)="edit({
                id: bookCopy.id,
                title: bookCopy.title,
                author: bookCopy.author,
                genre: bookCopy.genre,
                genres: bookCopy.genres,
                description: bookCopy.description
            },onEditBook);editMode = false">
                Submit Changes
            </button>
        </div>
    </div>
</ng-template>


<ng-template #backToHome>
    <div class="mb-2">
        <a class="btn btn-light" routerLink="/">Back</a>
    </div>
</ng-template>