.genre-badge {
    margin-right: 5px;
    cursor: pointer;
}
.genre-badge-container {
    margin-left: 1.6rem;
    margin-top: 1rem;
}

.genre-select {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.genre-select-input {
    display: inline-flex;
}

.filter-title {
    margin: 0 auto;
    width: fit-content;
    color: #8c8c8c;
}

.filter-line {
    border-bottom: 1px solid #cbcbcb;
    width: 97%;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.filter-line-no-margin {
    border-bottom: 1px solid #cbcbcb;
    width: 97%;
    /* margin-bottom: .5rem;
    */
    margin-top: .5rem; 
}



